$global-color1: #030305;
$global-color2: #EFB730;
$global-color3: #C2E3F4;
$global-color4: #F2F4EF;
$global-color5: blue;
$global-color6: #006666;
$global-color7: red;

$font-family1: 'Oswald', sans-serif,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-family2: 'Khand', sans-serif,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

html body{
    // border: 1px solid red;
    width: 798px;
    min-width:798px;
    height: 598px;
    margin: 0;
    padding: 0;
    font-family: $font-family1; 
}
.container {
    border:none;
    background-color: $global-color4;
    margin-top:0;
    display: grid;
    grid-template-columns: 600px 200px;
    grid-template-rows: 100px 130px 400px;
    grid-template-areas:
        "movie-selection summary"
        "movie-detail summary"
        "seat-selection summary";
}
.movie-selection{
    // border:1px solid red;
    grid-area: movie-selection;
    div.date,div.room{
        position:relative;
        height:100%;
        display:inline-block;
        width:150px;
        margin-left:20px;
    }
    div.date span{
        position:absolute;
        top:30%;
        left:10%;
    }
    .datepicker{
        position:absolute;
        top:30%;
        left:25%;
        width:100px;
        font-family: $font-family1;
        text-align: center;
        font-size:20px;
        color:$global-color5;
        border:none;
        border-bottom: 5px solid $global-color5;
    }
    div.room span{
        position:absolute;
        top:30%;
        left:0;
    }
    div.room .puru{
        position:absolute;
        top:35%;
        left:25%;
        width:30px;
        height: 30px;
        border-radius: 5px;
        background-color:$global-color5;
        color:white;
        text-align:center;
        line-height:30px;
        opacity: 0.1;
    }
    div.room .whero{
        position:absolute;
        top:35%;
        left:60%;
        width:30px;
        height: 30px;
        border-radius: 5px;
        background-color:$global-color7;
        color:white;
        text-align:center;
        line-height:30px;
        opacity: 0.1;
    }
    div.time{
        position:relative;
        height:100%;
        display:inline-block;
        width:220px;
        margin-left:20px;
        p{
            // width:75px;
            font-size:10px;
        }
        p:nth-child(1){
            position:absolute;
            top:25%;
            left:0%;
        }
        p:nth-child(2){
            position:absolute;
            top:25%;
            left:50%;
        }
        p:nth-child(3){
            position:absolute;
            top:50%;
            left:0%;
        }
        p:nth-child(4){
            position:absolute;
            top:50%;
            left:50%;
        }
    }
   
}


.movie-detail{
    grid-area: movie-detail;
    // background-color:black;
}
.seat-selection{
    // border:1px solid red;
    grid-area: seat-selection;
}
.summary{
    border-left:5px solid $global-color2;
    grid-area: summary;
    // z-index:99;
}
.active{
    opacity: 1 !important;
    transform: scale(1.5,1.5);
}
.active-session{
    transform: scale(1.5,1.5);
    color: $global-color5;
    font-weight: bolder;
}

//////////////////////////////////////////// for seat selection///////////////////////////////////
.front {
    width: 500px;
    margin: 5px 32px 10px 32px;
    background-color: $global-color3;
    color: #666;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}

.booking_area {
    float: right;
    position: relative;
    width: 155px;
    height: 600px;
    padding: 20px 15px 5px 15px;
    

}

.booking_area h3 {
    margin: 5px 5px 0 0;
    font-size: 10px;
}

.booking_area p {
    line-height: 26px;
    font-size: 16px;
    color: $global-color1;
    font-family: $font-family2;
    
}

.booking_area p span {
    color: $global-color1;
    font-family: $font-family1;
    text-decoration: underline;
}

div.seatCharts-cell {
    color: #182C4E;
    height: 25px;
    width: 40px;
    line-height: 25px;
    margin: 3px;
    float: left;
    text-align: center;
    outline: none;
    font-size: 10px;
}
div.seatCharts-cell:nth-child(6) {
    margin-right: 40px;
}

div.seatCharts-seat {
    color: rgba(255,255,255,0);
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div.seatCharts-row {
    height: 30px;
}
div.seatCharts-seat.available
{
    background-color: rgb(9, 255, 0);
    opacity: 0.5;
}
div.seatCharts-row:nth-child(2)>div.seatCharts-seat.available
,div.seatCharts-row:nth-child(3)>div.seatCharts-seat.available
{
    background-color: #76B474;
    opacity: 0.5;
}
div.seatCharts-row:nth-child(4)>div.seatCharts-seat.available
,div.seatCharts-row:nth-child(5)>div.seatCharts-seat.available
,div.seatCharts-row:nth-child(6)>div.seatCharts-seat.available
{
    background-color: rgb(32, 190, 27);
    opacity: 0.5;
}
.seatfocusedOrSelectedblue{
    background-color:blue !important;
    color: rgba(255,255,255,1) !important;
}
.seatfocusedOrSelectedred{
    background-color:red !important;
    color: rgba(255,255,255,1) !important;
}
div.seatCharts-seat.focused {
    background-color:$global-color5 ;
    border: none;
}
div.seatCharts-seat.selectedblue{
    background-color:blue !important;
    color: rgba(255,255,255,1) !important;
}
div.seatCharts-seat.selectedred{
    background-color:red !important;
    color: rgba(255,255,255,1) !important;
}
div.seatCharts-seat.selected {
    background-color: $global-color5;
}

div.seatCharts-seat.unavailable {
    background-color: $global-color3;
    opacity: 0.5;
    color:black;
    cursor: not-allowed;
}

div.seatCharts-container {
    // border-right: 1px dotted #adadad;
    width: 570px;
    padding: 20px;
    padding-top:10px; 
    float: left;
}

div.seatCharts-legend {
    padding-left: 0px;
    position: absolute;
    bottom: 50px;
}

ul.seatCharts-legendList {
    padding-left: 0px;
}

.seatCharts-legendItem {
    float: left;
    width: 90px;
    margin-top: 10px;
    line-height: 2;
}

span.seatCharts-legendDescription {
    margin-left: 5px;
    line-height: 30px;
    font-size:10px;
}

.checkout-button {
    display: block;
    width: 80px;
    height: 24px;
    line-height: 20px;
    margin: 10px auto;
    border: 1px solid #999;
    font-size: 14px;
    cursor: pointer
}

#seats_chose {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: none;
    width: 200px;
    height: 150px;
}

#seats_chose li {
    float: left;
    width: 63px;
    height: 26px;
    line-height: 26px;
    // border: 1px solid #d3d3d3;
    // background: #f7f7f7;
    margin: 2px;
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-align: center
}
.btnConfirm{
    position:absolute;
    bottom:15%;
    width:80%;
    height:30px; 
    border-radius: 10px;
    border:3px solid $global-color5;
    background-color:transparent;
    color:$global-color5;
    font-size:20px;
    text-align:center;
    line-height:30px;
}
.btnConfirm:hover{
    background-color:$global-color5;
    color:white;
    font-size:25px;
}
.btnReturn{
    display:none;
    position:absolute;
    bottom:15%;
    width:80%;
    height:30px; 
    border-radius: 10px;
    border:3px solid $global-color5;
    background-color:transparent;
    color:$global-color5;
    font-size:20px;
    text-align:center;
    line-height:30px;
}
.btnReturn:hover{
    background-color:$global-color5;
    color:white;
    font-size:25px;
}
.btnConfirmAndContinue{
    display:none;
    position:absolute;
    bottom:8%;
    width:80%;
    height:30px; 
    border-radius: 10px;
    border:3px solid $global-color5;
    background-color:transparent;
    color:$global-color5;
    font-size:20px;
    text-align:center;
    line-height:30px;
}
.btnConfirmAndContinue:hover{
    background-color:$global-color5;
    color:white;
    font-size:20px;
}

.summary{
    background-color:$global-color2;
    border-radius: 30px;
    margin-top:20px;
    width:180px;
    height:600px;
}
.movie-detail{
    background-color:rgba(0,0,0,1);
    
    width:570px;
    margin-left:20px;
    height:490px;
}
.movie-show{
    width:90%;
    height:120px;
    margin:1% auto;
    background:url('.././image/the-pusuit-of-happyness.jpg') no-repeat;
    background-size: 50%;
    background-position-x: 50%;
}
.movie-show-1{
    background:url('.././image/the-pusuit-of-happyness.jpg') no-repeat !important;
    background-size: 50% !important;
    margin:3% auto auto 28% !important;
}
.movie-show-2{
    background:url('.././image/forrest-gump.jpg') no-repeat !important;
    background-size: 50% !important;
    margin:3% auto auto 28% !important;
}
//   --------------------------------------------------
.tooltip {
    position: relative;
    display: inline-block;
    // border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color:black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 100;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
//   --------------------------------------------------

.mask{
    // border:1px solid red;
    display:none;
    width:798px;
    height:598px; 
    position: fixed;
    top:0;
    left:0;
    background: rgba(0,0,0,0.9);
    color:white;
    font-size:1rem;
}
.summary-confirmation>div{
    margin-top:10px;
    // border:1px solid red;
    font-size:2em;
    height:2em;
    line-height: 2em;
    text-align:left;
}
.summary-confirmation>div>p{
    display:inline-block;
}
.message{
    margin-top:20px;
    display:none;
}
.message h1{
    font-size:4rem;
    text-align:center;
    margin:0 auto;
}
.btnArea{
    // border:1px solid red;
    margin:0 auto;
    width:600px;
    height:50px; 
}
.btnMask{
    // position:absolute;
    display:inline-block;
    bottom:15%;
    width:46%;
    height:40px; 
    border-radius: 10px;
    border:3px solid $global-color5;
    background-color:transparent;
    color:$global-color5;
    font-size:2rem;
    text-align:center;
    line-height:30px;
    padding-top:8px;

}
.btnMask:hover{
    background-color:$global-color5;
    color:white;
    font-size:25px;
}
.summary-confirmation{
    // border:1px solid red;
    margin:0 auto;
    width:600px;
    height:500px; 
    text-align: center;
}
.btnMask{
    margin:0 auto;
}